# {{ distcc_service_config }} - override file for distccd unit
# --allow is now mandatory as of distcc-2.18.
# example:  --allow 192.168.0.0/24
# example:  --allow 192.168.0.5 --allow 192.168.0.150
# Example of [Service] section with any environment variables
#[Service]
#Environment="ALLOWED_SERVERS=192.168.121.0/24"
#Environment="DISTCC_VERBOSE=1"
#Environment="DISTCC_SAVE_TEMPS=1"
#Environment="CCACHE_DIR=/var/cache/ccache"
{% for section,vars in distcc_config.sections.items() %}
[{{ section }}]
{% for linehead,lines in vars.items() %}
{% for line in lines %}
{{ linehead }}="{{ line }}"
{% endfor %}
{% endfor %}

{% endfor %}
